body{
    text-align: center;
}
/*Estilo para el idenficador del header con nombre princiopal*/
#principal{
    display: block;
    width: 500px;
    margin:50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #dddddd;
    /*Transiciones, crea transiciones suaves en un objeto dentro del html
    el primer valor "transform" se refiere al tipo de transicion el segundo parametro se refiere
    al tiempo que le toma realizar la transicion que en este caso es de 0.5 segundosel tercer parametro es una palabra clave
    que determina el tipo de curva Bézier (ease-in-out, existen diferentes tipos de curvas Bézier)*/
    transition: transform 1s ease-in-out 0.2s;
} 


/*TRANSFORMACIONES DINAMICAS*/
/*Esta transformación y pseudoclase hace que se rote
el objeto cada vez que el cursor de acerque y que vuelva a su
posicion original cuando el cursor de aleja, */
#principal:hover{
    transform: rotate(10deg);
}
#titulo{
    font: bold 36px verdana, sans-serif;
    text-shadow: rgba(0, 0,0,0.5) 3px 3px 5px; /*text-shadow: ; tiene las mismas
    similitudes con respecto a su formato de edición que box-shadow: la unica diferencia
    recae en que text-shadow: ; es utilizada para darle sombra a los textos que estén en "span"*/
    /*rgba tiene 4 atributos, los primeros 3 son similares con rgb y el 4
    a una capacidad de opacidad en un rango de 0 a 1
    siendo 0 totalmente transparente y 1 totalmente opaco*/
}