body{
    text-align: center;
}
/*Estilo para el idenficador del header con nombre princiopal*/
#principal{
    display: block;
    width: 500px;
    margin:50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #dddddd;
    /*Incorporación de un poder radius*/
    border-radius: 20px;
}
#titulo{
    font: bold 36px verdana, sans-serif;
}