body{
    text-align: center;
}
/*Estilo para el idenficador del header con nombre princiopal*/
#principal{
    display: block;
    width: 500px;
    margin:50px auto;
    padding: 15px;
    text-align: center;
    border: 1px solid #999999;
    background: #dddddd;
    /*Incorporación de un poder radius*/
    border-radius: 20px 10px 30px 50px; /*El border radius puede aceptar
    distintos radios para cada curva del contenedor*/
    /*Agregar una sombra a una caja*/
    box-shadow: rgb(125, 140, 80) 5px 5px 10px; /*Al utilizar el box-shadow
    añade una sombra a la caja y utilizando el comando rgb podemos cambiar el color de la sombra
    los valores "5px" y "5px" sirven para el volumen de la sombra y "10px" para la transparencia
    los calores pueden cambiar a gusto del programador*/ 
    background: linear-gradient(top, #c0b1b1, #006699);
    /*border-image: permite que por medio de una imagen, el cotenido tome el mismo
    patron que la imagen el numero 29 declara el tamaño de las piezas y strech
    para distribuir la pieza*/
    border-image: url(/diamonds.PNG) 29 stretch;
}
#titulo{
    font: bold 36px verdana, sans-serif;
    text-shadow: rgba(0, 0,0,0.5) 3px 3px 5px; /*text-shadow: ; tiene las mismas
    similitudes con respecto a su formato de edición que box-shadow: la unica diferencia
    recae en que text-shadow: ; es utilizada para darle sombra a los textos que estén en "span"*/
    /*rgba tiene 4 atributos, los primeros 3 son similares con rgb y el 4
    a una capacidad de opacidad en un rango de 0 a 1
    siendo 0 totalmente transparente y 1 totalmente opaco*/
}